.div_cupcakes_principal{
    display: flex;
}

.lista_cupcakes{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item{
    height: 100px;
    width: 180px;
    flex-grow: 1;
} 

@meida(max-width)