.cabecalho_container {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 1% 0% 3%;
    box-shadow: 1px 1px 4px #365f5f;
    background-color: #8aecec;
    order: 0;
}

.cabecalho_apps {
    background-image: url(../public/apps.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho_notificacoes {
    background-image: url(../public/notifications.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho_avatar {
    background-image: url(../public/avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

@media (max-width: 834px) {
    .cabecalho_apps {
        padding: 10px 10px 10px 10px;
    }

    .cabecalho_notificacoes {
        padding: 10px 10px 10px 10px;
    }

    .cabecalho_avatar {
        padding: 12px 12px 12px 12px;
    }

}