.cabecalho_container {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 1% 0% 3%;
    box-shadow: 1px 1px 4px #365f5f;
    background-color: #dceeee;
}

.cabecalho_icones{
    display: flex;
    flex-direction: row;
}

.cabecalho_apps {
    background-image: url(../public/icons/apps.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho_notificacoes {
    background-image: url(../public/icons/notifications.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho_avatar {
    background-image: url(../public/icons/avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho_signout {
    background-image: url(../public/icons/box-arrow-right.svg);
    background-size: 25px;
    color: #154580;
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

@media (max-width: 834px) {
    .cabecalho_apps {
        padding: 10px 10px 10px 10px;
    }

    .cabecalho_notificacoes {
        padding: 10px 10px 10px 10px;
    }

    .cabecalho_avatar {
        padding: 12px 12px 12px 12px;
    }

    .cabecalho_logout {
        padding: 12px 12px 12px 12px;
    }
}