.menu_container{
    position: fixed;
    margin-top: 50px;
    z-index: -1;
    background-color: #b7f1f1;
    width: 120PX;
    height: 100vh;
}

.opcao_lista li{
    background-color: #b7f1f1;
    display: flex; 
    align-items: center;
    height: 30PX;
}

.opcao{
    width: 120px;
    height: 30PX;
    text-align: center;
    border-bottom: 1px solid #68caca;
}

.opcao:hover{
    font-size: 1.3rem;
    transition: 0.4s;
    background-color: rgb(64, 255, 255)
}