.menu_container{
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items:flex-start;
    background-color: hsl(180, 62%, 77%);
    width: 120PX;
    height: 100vmin;
}

.opcao_lista{
    background: linear-gradient(00deg, #62f7f7 0%, #a1e9e9 35%, #CCEBEB 100%);
}

.opcao_lista li{
    background: linear-gradient(00deg, #62f7f7 0%, #a1e9e9 35%, #CCEBEB 100%);
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 30PX;
    width: 120PX;
}

.opcao:hover{
    font-size: 1.5rem;
}