.menu_container{
    background-color: hsl(180, 62%, 77%);
    width: 120PX;
    height: 100vh;
}

.opcao_lista{
    background: linear-gradient(00deg, #62f7f7 0%, #a1e9e9 35%, #CCEBEB 100%);
}

.opcao_lista li{
    background: linear-gradient(00deg, #62f7f7 0%, #a1e9e9 35%, #CCEBEB 100%);
    display: flex; 
    align-items: center;
    height: 30PX;
}

.opcao{
    width: 120px;
    text-align: center;
}

.opcao:hover{
    font-size: 1.3rem;
    height: 35px;
    transition: 0.4s;
    box-shadow: 1px 1px 4px #365f5f;
}